/**
 * Styles for: <%= projectName %>
 */

// Import MinnPost Styles parts
@import "../bower_components/minnpost-styles/styles/common.scss";
#{$selector-wrapper} {
  // Import specific parts as need.  Specificity doesn't always
  // work out well
  //@import "../bower_components/minnpost-styles/styles/_nav.scss";
}

@import "_mixins";
@import "_styles";
