/**
 * IE specific styles for: <%= projectName %>
 */
.<%= projectName %>-application-container {
  .ie-upgrade-note {
    margin: 1em 1em;
    padding: 1em;
    font-size: .75em;
    border: 1px solid #242424;
    background-color: #F2F2F2;
  }
}

