
/**
 * IE specific styles for: : <%= projectName %>
 *
 * Try to ensure that styles are specific to the application.
 */
.ie-upgrade-note {
  margin: 1em 1em;
  padding: 1em;
  font-size: .75em;
  border: 1px solid #222222;
  background-color: $color-lightest-gray;
  color: #222222;
}

<% if (isApplication) { %>
.<%= projectName %>-application-container {
}
<% } else { %>
.<%= projectName %>-inline-container.inline-processed {
}
<% } %>
