/**
 * Main styles for: <%= projectName %>
 *
 * Try to ensure that styles are specific to the application.
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */
body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.interactive-container .footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 3em;
  border-top: 1px solid #BCBCBC;
  padding-top: 1em;
}

.<%= projectName %>-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.<%= projectName %>-application-container .clear { clear: both; }
.<%= projectName %>-application-container .hidden { display: none; }

.<%= projectName %>-application-container .sans-serif {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
.<%= projectName %>-application-container .cf:before,
.<%= projectName %>-application-container .cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.<%= projectName %>-application-container .cf:after {
  clear: both;
}
.<%= projectName %>-application-container .cf {
  *zoom: 1;
}

.<%= projectName %>-application-container .footnote {
  font-size: .75em;
  font-style: italic;
  color: #414141;
  margin-top: 3em;
  border-top: 1px solid #BCBCBC;
  padding-top: 1em;
}

.<%= projectName %>-application-container .loading {
  width: 100%;
  text-align: center;
  padding: 2em 2em;
  color: #ABABAB;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.<%= projectName %>-application-container .loading span {
  padding: 10px 5px 10px 40px;
  background: transparent url('https://s3.amazonaws.com/data.minnpost/projects/2012-mn-election-results/images/ajax-loader.gif') center left no-repeat;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
