<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <h3><%= projectTitle %></h3>

    <div class="loading-block"></div>

    <p>Welcome to your new MinnPost application, built from the MinnPost Templating system.  Make sure to use the <a href="http://code.minnpost.com/minnpost-styles/">MinnPost Style Guide</a> for all your styling needs.</p>

    <% if (includeExamples) { %>
    <% if (projectFeatures.hasHighcharts) { %>
    <div class="component-label">Line chart example</div>
    <div class="caption">Here is an awesome, concise caption.</div>
    <div class="chart chart-line-example"></div>

    <div class="component-label">Column chart example</div>
    <div class="caption">Here is an awesome, concise caption.</div>
    <div class="chart chart-column-example"></div>
    <% } %>

    <% if (projectFeatures.hasMapbox || projectFeatures.hasLeaflet) { %>
    <div class="component-label">Map example</div>
    <div class="caption">Here is an awesome, concise caption.</div>
    <div class="map" id="example-markers-features-map"></div>
    <% } %>

    <% if (projectFeatures.hasDatatables) { %>
    <div class="component-label">Datatables example</div>
    <div class="caption">Here is an awesome, concise caption.  This example could use some filter links.</div>
    <div class="datatable datatable-example">
      <table class="striped"></table>
    </div>
    <% } %>
    <% } %>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/<%= projectName %>" target="_blank">Github</a>.</p>
      <% if (projectFeatures['hasMapbox'] || projectFeatures['hasLeaflet']) { %>
        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>
      <% } %>
    </div>
  </div>
</div>
