<div class="message-container"></div>

<div class="content-container">

  <h3><%= projectTitle %></h3>

  {{^noData}}
    {{>loading}}
  {{/noData}}

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Some code, techniques, and data on <a href="https://github.com/zzolo/<%= projectName %>" target="_blank">Github</a>.</p>
    <% if (projectFeatures['hasMapbox'] || projectFeatures['hasLeaflet']) { %>
      <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>
    <% } %>
  </div>
</div>
