<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= projectTitle %> (DEVELOPMENT)</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://www.minnpost.com/sites/default/themes/siteskin/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <!-- Add in CSS from the site, as it is cached, it can change -->
  <% minnpostResources.css.forEach(function(css) { %>
  <%= css %> <% }) %>
  <!--[if IE]>
    <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?n" type="text/css">
  <![endif]-->

  <!-- Add in JS from the site, as it is cached, it can change -->
  <% minnpostResources.js.forEach(function(js) { %>
  <%= js %> <% }) %>

</head>
<body class="not-front logged-in page-node node-type-article one-sidebar sidebar-right section-data">

  <!-- This does some hackish stuff to determine what deployment we use -->
  <script type="text/javascript" src="js/build/deployment.js"></script>

  <!-- =========================================================
    START: Embeddable
    == ========================================================= -->

  <!--
    For raw HTML fields, keep these classes
    on the following div (this ensures the correct
    font sizes).  If used in a regular article, remove
    the classes.

    For references, the classes are:
    node-body fieldlayout node-field-body
  -->
  <div class="node-body fieldlayout node-field-body">

    <!--
      This is the HTML that will be output.  This
      container ensures that the application acts like
      the MinnPost site as much as possible.
    -->
    <div class="mp">
      <div class="minnpost-page-container">
        <noscript>
          <p class="noscript-note">This application requires Javascript which is used to make your web browser more interactive.  If this message does not go away, please consider enabling Javascript.  Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions on how to enable JavaScript in your web browser</a>.</p>
        </noscript>

        <!--[if lte IE 8]>
          <div class="browser-upgrade-note">
            <h4>Consider upgrading your browser</h4>
            <p>Your <strong>Internet Browser</strong> is the application you use to navigate webpages on the internet.  You are currently using an older version of Internet Explorer.  This application may not be full-featured because you are using such an old browser.</p>

            <p><a href="http://browsehappy.com/" target="_blank">Click here to find out about upgrading to a newer browsers</a>.</p>
          </div>
        <![endif]-->

        <div class="<%= projectName %>-container minnpost-full-container"></div>
      </div>
    </div>

    <!-- TrackJS -->
    <script type="text/javascript">
      //<![CDATA[
      window._trackJs = {
        token: '39ecc28b4f344805a47e8e4f56ae353c',
        application: '<%= projectName %>'
      }
      //]]>
    </script>
    <script type="text/javascript" src="//d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>

    <script type="text/javascript">
      //<![CDATA[
      (function() {
        if (window.mpMakeDeployment) {
          mpMakeDeployment();
        }
        else {
          document.write('<script src="//s3.amazonaws.com/data.minnpost/projects/<%= projectName %>/<%= projectName %>.libs.min.js"><\/script>')
          document.write('<script src="//s3.amazonaws.com/data.minnpost/projects/<%= projectName %>/<%= projectName %>.latest.min.js"><\/script>')
        }
      })();
      //]]>
    </script>
  </div>

  <!-- =========================================================
    END: Embeddable
    == ========================================================= -->

</body>
</html>
