<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= projectTitle %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://www.minnpost.com/sites/default/themes/siteskin/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <!-- Add in CSS from the site, as it is cached, it can change -->
  <% minnpostResources.css.forEach(function(css) { %>
  <%= css %> <% }) %>
  <!--[if IE]>
    <link rel="stylesheet" href="http://www.minnpost.com/sites/default/themes/derma/inc/css/ie.css?n" type="text/css">
  <![endif]-->

  <!-- Add in JS from the site, as it is cached, it can change -->
  <% minnpostResources.js.forEach(function(js) { %>
  <%= js %> <% }) %>

</head>
<body class="not-front logged-in page-node node-type-article one-sidebar sidebar-right section-data">


  <!-- =========================================================
    START: Embeddable
    == ========================================================= -->

  <!--
    For raw HTML fields, keep these classes
    on the following div (this ensures the correct
    font sizes).  If used in a regular article, remove
    the classes.

    For references, the classes are:
    node-body fieldlayout node-field-body
  -->
  <div class="node-body fieldlayout node-field-body">
    <!-- Application and libraries CSS -->
    <style type="text/css">
      <% for (var c in filteredComponentMap.css) { filteredComponentMap.css[c].forEach(function(f) { %>
      @import url('bower_components/<%= f %>.css');<% }) } %>
      <% if (projectPrerequisites.useSass || projectPrerequisites.useCompass) { %>
      @import url('.tmp/css/main.css');<% } else { %>
      @import url('styles/styles.css');<% } %>
    </style>
    <!--[if lte IE 8]>
      <style type="text/css">
        <% for (var c in filteredComponentMap.ie) { filteredComponentMap.ie[c].forEach(function(f) { %>
        @import url('bower_components/<%= f %>.css');<% }) } %>
        <% if (projectPrerequisites.useSass || projectPrerequisites.useCompass) { %>
        @import url('.tmp/css/main.ie.css');<% } else { %>
        @import url('styles/styles.ie.css');<% } %>
      </style>
    <![endif]-->

    <!--
      This is the HTML that will be output.  This
      container ensures that the application acts like
      the MinnPost site as much as possible.
    -->
    <div class="interactive-container">
      <noscript>
        <p>This application requires Javascript which is used to make your web browser more interactive.  If this message does not go away, please consider enabling Javascript.  Here are <a href="http://www.enable-javascript.com/" target="_blank">instructions on how to enable JavaScript in your web browser</a>.</p>
      </noscript>

      <!--[if lte IE 7]>
        <div class="ie-upgrade-note">
          <h4>Consider upgrading your browser</h4>
          <p>Your <strong>Internet Browser</strong> is the application you use to navigate webpages on the internet.  You are currently using an older version of Internet Explorer.  This application may not be full-featured because you are using such an old browser.</p>

          <p><a href="http://browsehappy.com/" target="_blank">Click here to find out about upgrading to a newer browsers</a>.</p>

          <p>If you cannot install new applications on your computer (because it is not allowed at work, for example), consider using <a href="http://www.google.com/chromeframe" target="_blank">Google's Chrome Frame</a> for Internet Explorer.</p>
        </div>
      <![endif]-->

      <div id="<%= projectName %>-container" class="<%= projectName %>-application-container">
      </div>
    </div>


    <!--
      JS Files.

      Utilize RequireJS to for better dependency management;
      we manually include the config file to ensure the application
      is available below.  And we manually start the application
      below so that we can set certain options about where data
      is coming from.

      The bits around the inclusion of the libraries
      provides a temporary hack around jQuery so we
      can use a newer version.
    -->
    <script type="text/javascript">
      // Hack around existing jQuery
      if (typeof window.jQuery != 'undefined') {
        window._jQuery = window.jQuery;
        window._$ = window.$;
      }
    </script>

    <script type="text/javascript" src="bower_components/requirejs/require.js"></script>
    <script type="text/javascript" src="bower_components/text/text.js"></script>
    <script type="text/javascript" src="js/config.js"></script>

    <script type="text/javascript">
      if (!window.requireTestMode) {
        // Get application and start
        require(['jquery', '<%= projectName %>'], function($, App) {
          $(document).ready(function() {
            var app = new App({
              el: '#<%= projectName %>-container'
            });
            app.start();
          });
        });
      }
    </script>

    <script type="text/javascript">
      // Hack back in the original jQuery
      if (typeof window._jQuery != 'undefined') {
        window.jQuery = window._jQuery;
        window.$ = window._$;
      }
    </script>
  </div>

  <!-- =========================================================
    END: Embeddable
    == ========================================================= -->


</body>
</html>
